.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  font-size: 15px;
  background-color: rgb(226, 167, 96);
  text-align: center;
  height: 65px;
  padding-top: 25px;
  margin-bottom: 0px;
  color: white;
}

h1 {
  text-align: center;
}

.authors {
  text-align: center;
}

.About {
  text-align: center;
  padding: 0px 150px;
  margin-bottom: 50px;
}

.links {
  display: block;
  padding: 10px 300px;
}

.authorTitle {
  margin-top: 60px;
  margin-bottom: 50px;
}

.post {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 50px;
  font-style: bold;
}

h2 {
  font-size: 40px;
  font-style: bold;
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;
}

.header {
  background-color: rgb(226, 167, 96);
}

.h4header {
  float: left;
  padding: 10px 0px 10px 80px;
  font-size: 30px;
  color: white;
  font: bolder;
}

.hidden:hover {
  padding: 10px 30px 10px 0px;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 56px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 56px 0px rgba(255, 255, 255, 1);
  border-radius: 50px;
  color: white;
}

.authorsList {
  display: block;
  padding: 10px 0px 10px 0px;
}
/* .hidden {
            color: white;
        }
        
        .right {
            color: white;
        } */

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 17px;
  margin-right: 20px;
}

.Address {
  margin-top: 50px;
  display: inline;
  width: 400px;
  padding-left: 14px;
  margin-right: 100px;
}
.iframe {
  display: inline;
  margin-top: 50px;
}

.linksList {
  margin-bottom: 40px;
}

.headerAuthors {
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-left: 20px;
}
.headerAbout {
  padding-right: 120px;
  padding-left: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
